
<!--script>
$('#submit').click(function() {
    location.reload();
});
</script-->

<div>
	<h1>Lend</h1>
	<form ng-controller="lendCtrl" ng-submit="submitForm()">
		<div class="row">
			<div class="col-sm-4">
				<label for="personId">personId</label>
				<input class="form-control" type="text" id="personId" name="personId" ng-model="form.personId" />
			</div>
			<div class="col-sm-4">
				<label for="bookId">bookId</label>
				<input class="form-control" type="text" id="bookId" name="bookId" ng-model="form.bookId" />
			</div>
			<div class="col-sm-4">
				<label for="submit"><br /></label>
				<button class="form-control" id="submit" type="submit">submit</button>
			</div>
		</div>
	</form>
	<!--hr />
	<div class="row">
		<div class="col-xs-12"><input id="search" ng-model="searchText" class="form-control" placeholder="Search books"></div>
	</div>
	<br />
	<div class="row">
		<div class="col-xs-4">Title</div><div class="col-xs-4">Author</div><div class="col-xs-2">ISBN</div><div class="col-xs-2">ID</div>
	</div>
	<div id="searchTextResults">
		<div class="row" ng-repeat="book in bookList | filter:searchText">
			<div class="col-sm-4" ng-class-odd="'odd'" ng-class-even="'even'" ng-bind="book.title"></div>
			<div class="col-sm-4" ng-class-odd="'odd'" ng-class-even="'even'" ng-bind="book.author"></div>
			<div class="col-sm-2" ng-class-odd="'odd'" ng-class-even="'even'" ng-bind="book.isbn"></div>
			<div class="col-sm-2" ng-class-odd="'odd'" ng-class-even="'even'" ng-bind="book.id"></div>
		</div>
	</div-->
</div>
